@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bungee|Muli:900i|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');



*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Muli', sans-serif;
}
.landing{
  padding-top: 4rem;
  text-align: center;
  /* font-family: 'Bungee', cursive; */
  font-family: 'Montserrat', sans-serif;
  z-index: -1;
  background-image:url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  height:100vh;
  width: 100vw;
  color: white;
}
@keyframes shootingStar
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}


.star{
  position:relative;
  left:0px;
  top:50px;
  background-color:white;
  animation-name:shootingStar;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.star::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.s-1{
  width:1.5px;
  height:1.5px;
  animation-duration:10s;
}
.s-2{
  width:2px;
  height:2px;
  animation-duration:6s;
  top:60%;
}
.s-3{
  width:1px;
  height:1px;
  animation-duration:17s;
  top:85%;
}

.first-name{
  padding-right: 4rem;
  margin: 0;
}
.last-name{
  padding-left: 4rem;
   margin: 0;
}
.first-name:first-letter {
    font-size: 7rem;
    color: #66B2B2;
}
.last-name:first-letter {
    font-size: 7rem;
    color: #66B2B2;
}
.dev{
  margin: 0;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Pacifico', cursive;
}
.enter-button{
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  font-weight: bold;
  color: white;
  padding: 1rem 1.5rem;
  /* margin-top: 2rem; */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.enter-button:hover{
  background-color: #ce0606;
  cursor: pointer;
}

.enter-button:active {
  box-shadow: none;
  top: 5px;
}


.nav{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  overflow: hidden;
  background-color: #142434;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 8%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
ul{
  margin:0;
  padding:.2rem;
}
.nav a {
  padding: .2rem 0;
  margin: .8rem;
  text-align: center;
  display: block;
  color:white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: .3rem solid transparent;

}
.nav a:hover{
 border-bottom: .3rem solid white;
}
.is-current a{
  color:red;
  transition-duration: 1s;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
}

.about {
  /*background: blue;*/
  width: 100vw;
}
.about-content {
  width: 100%;
  /*background: #66B2B2;*/
  background-image:
    linear-gradient(
      #66B2B2 35%, rgba(32,49,69,.98)
    );
}

.image-with-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image{
  margin-top: 4.5rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  width: 15rem;
  height: 15rem;
  background-size: cover;
  background-image: url('https://i.imgur.com/X7O6xLB.png')
}
.links{
  color: black;
  display: flex;
  justify-content: center;
}
.links a {
  font-size: 2.7rem;
  color: black;
  margin: .4rem .6rem;
}

.bio {
  text-align: center;
  font-size: 1.3rem;
  padding:.5rem;
}
.skills-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.skills-list div {
  background-position:center center;
  margin: .6rem .2rem;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
 /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;*/
}
.skill-1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg");
}

.skill-2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg");
}

.skill-3 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg");
}
.skill-4 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg");
}
.skill-5 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg");
}
.skill-6 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg");
}
.skill-7 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/96/Sass_Logo_Color.svg");
}
.skill-8 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg");
}
.skill-9 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg");
}
.skill-10 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg);
}

.project-section{
  /*background: #203145;*/
  width: 100vw;
}
.project-heading{
  align-self: flex-start;
  margin:0;
  padding: 4rem 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #66B2B2;
}
.project {
  background: rgba(32,49,69,.95);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.background-image{
  z-index: -10;
  overflow: hidden;
  background-image:url(https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?cs=srgb&dl=beverage-coffee-computer-877695.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.background-image-overlay{
  z-index: -9;
  overflow: hidden;
  background-color: rgba(80, 68, 18, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.project-image{
 background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2.5rem;
}
.project-image-1{
  margin-top: 0;
  background-image: url(images/Data-tracker-screenshot1.png);
  width: 20rem;
  height: 11rem;
}
.project-image-2{
  background-image: url(images/Screen Shot 2018-12-11 at 2.38.31 PM.png);
  width: 20rem;
  height: 12rem;
}
.project-image-3{
  background-image: url(images/defender-dodge.png);
  width: 20rem;
  height: 12rem;
}
.project-image-4{
  background-image: url(images/cafe-select.png);
  width: 10rem;
  height: 20rem;
}
.project-image-5{
  background-image: url(https://media.giphy.com/media/5zjdiW27DDT2C7QAdg/giphy.gif);
  width: 20rem;
  height: 12rem;
}

.project-name{
  margin: 0;
  font-size: 2.3rem;
  text-align: center;
  color: #66B2B2;
}
.project-info{
  text-align: center;
  padding: 0 1rem;
}

.project-info p {
  color:white;
  font-size: 1.3rem;
}

.project-heading:after {
    background: #66B2B2;
    content: "";
    display: block;
    height: 6px;
    margin: 5px 0 10px;
    max-width: 90px;
    width: 90%;
}

.contact{
  color: white;
  background: #142434;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact p {
  text-align: center;
}
.contact h1 {
  margin: .5rem 0 0 0;
  font-size: 2.5rem;
}
.contact h2 {
  margin: .5rem 0 0 0;
  font-size: 1.7rem;
}
.say{
  font-family: 'Muli', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size:3.2rem;
}

.contact-button{
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  font-weight: bold;
  color: white;
  padding: 1rem 1.5rem;
  margin:1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-button:hover{
  background-color: #ce0606;
  cursor: pointer;
}

.contact-button:active {
  box-shadow: none;
  top: 5px;
}
.defender-buttons{
  display: flex;
  flex-direction: column;
}
.defender-buttons a{
  text-align: center;
}

.footer {
  height: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #0e1c2a;
  color: white;
  text-align: center;
}

.footer p {
  font-size: 1.2rem;
}

@media (min-width: 40rem){
  .landing{
    padding-top: 9rem;
    /*background: blue;*/
  }
  .links a {
  font-size: 3.2rem;
  color: black;
  margin: .4rem .6rem;
}
  .project-image-1{
  width: 30rem;
  height: 16rem;
}
.project-image-2{
  width: 30rem;
  height: 18rem;
}
.project-image-3{
  width: 30rem;
  height: 18rem;
}
.project-image-4{
  width: 16rem;
  height: 30rem;
}
.project-image-5{
  width: 30rem;
  height: 18rem;
}
.defender-buttons{
  flex-direction: row;
}
  }

@media (min-width: 60rem){
   .landing{
    /*background: red;*/
    padding-top: 5rem;
  }
  .first-name{
  padding-right: 4rem;
  margin: 0;
}
.last-name{
  padding-left: 4rem;
   margin: 0;
}
.first-name:first-letter {
    font-size: 8rem;
    color: #66B2B2;
}
.last-name:first-letter {
    font-size: 8rem;
    color: #66B2B2;
}
.dev{
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
}
  .links a {
  font-size: 3.6rem;
}
.bio{
font-size:1.5rem;
}
.skills-list div {
  margin: .6rem .2rem;
  width: 5rem;
  height: 5rem;
}
.project-heading{
  font-size: 3.6rem;

}
.project-name{
  font-size: 2.7rem;

}
.project-info{
  padding: 0 3rem;
}
.project-info p {
  color:white;
  font-size: 1.5rem;
}
}
@media (min-width: 70rem){
 .landing{
  /*background: yellow;*/
 }
 .bio{
  padding: 0 3rem;
 }
.project-image-1{
  width: 40.5rem;
  height: 22.3rem;
}
.project-image-2{
  width: 40.5rem;
  height: 24.3rem;
}
.project-image-3{
  width: 40.5rem;
  height: 24.3rem;
}
.project-image-4{
  width: 20rem;
  height: 35.5rem;
}
.project-image-5{
  width: 40.5rem;
  height: 24.3rem;
}
.project-info{
  padding: 0 5rem;
}
.contact p {
  text-align: center;
  font-size:1.2rem;
}
.contact h1 {
  margin: .5rem 0 0 0;
  font-size: 2.7rem;
}
.contact h2 {
  margin: .5rem 0 0 0;
  font-size: 1.8rem;
}
}

@media (min-width: 80rem){
 .landing{
 /*background: purple;*/
 }
 .profile-image{
  width: 17rem;
  height: 17rem;
}
}

@media (min-width: 90rem){
  .landing{
    /*background-color: green;*/
    /* padding-top: 0; */
  }
  .landing a{
    /* font-size:2rem; */
  }
  .first-name{
  /* font-size: 4rem; */
  padding-right: 4rem;
  margin: 0;
}
/* .enter-button{
  margin-bottom: 2rem;
} */
.last-name{
  /* font-size: 4rem; */
  padding-left: 4rem;
   margin: 0;
}
.first-name:first-letter {
    font-size: 8rem;
    color: #66B2B2;
}
.last-name:first-letter {
    font-size: 8rem;
    color: #66B2B2;
}
.dev{
  /* font-size: 4.5rem; */
  font-family: 'Pacifico', cursive;
}
}

@media (min-width: 100rem){
.landing{
  /*background: lightblue*/
}
 .profile-image{
  width: 18rem;
  height: 18rem;
}
  .links a {
  font-size: 3.8rem;
}
.skills-list div {
  margin: .6rem .2rem;
  width: 6rem;
  height: 6rem;
}
.project-image-1{
  width: 45rem;
  height: 24.3rem;
}
.project-image-2{
  width: 44.5rem;
  height: 27rem;
}
.project-image-3{
  width: 44.5rem;
  height: 27rem;
}
.project-image-5{
  width: 44.5rem;
  height: 27rem;
}
}

@media (min-width: 110rem){
.landing{
/*  background: orange;*/
}
}

